@model HomeViewModel

@await Html.PartialAsync("Carousel")

<h2>Preffered drinks of the week</h2>
<h4>Clients prefernces - just for you!</h4>

<div class="row">
	@foreach (var drink in Model.PrefferedDrinks)
	{
		@Html.Partial("DrinkSummary", drink)
	}
</div>